#analysis-types{
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    
}
#analysis-types #analysis-types-opt{
 display: flex;
 width: 100%;
 height: 5vh;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 1rem;
 border-bottom:1px solid gray;
}
#analysis-types #analysis-types-opt #analysis-types-edit{
    display: flex;
    gap: 2rem
}
#analysis-types #analysis-types-opt #buttons{
    display: flex;
    gap: 1rem
}

#analysis-types-area {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:2rem
    
}
#analysis-types-area p span i:hover{
    cursor: pointer;
}
#analysis-types-area p:hover{
    cursor: pointer;
}

