<div id="collections">
    <ul>
        <li class="collections-item" routerLink="parameters" routerLinkActive="active">Parametreler</li>
        <li class="collections-item" routerLink="samples" routerLinkActive="active">Numuneler</li>
        <li class="collections-item" routerLink="analysis-types" routerLinkActive="active">Analiz Türleri</li>
        <li class="collections-item" routerLink="sample-types" routerLinkActive="active">Numune Türleri</li>
        <li class="collections-item" routerLink="contents" routerLinkActive="active">İçerik Türleri</li>
    </ul>
    <p>version 1.0.0.0</p>
</div>
