#collections{
    width: 100%;
    height:91vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#collections ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#collections ul .collections-item{
    width: 100%;
    padding: 1rem;
    transition: all .5s ease-in-out;
    font-size: 1.7rem;
    font-weight: 700;
    color: gray;

}

#collections ul .collections-item:hover{
    cursor: pointer;
    color: white;
    background-color: gray;
}
#collections ul .collections-item.active{
    border-left: 4px solid green;
}
#collections p{
    display: block;
    width: 100%;
    text-align: center;
}